[2016-10-27 16:44] camerontrimble opened #1 "Add Data Manually function has an error - not working"

[2016-10-27 16:45] camerontrimble opened #2 "Create a registration page for people taking the survey"

[2016-10-27 16:48] camerontrimble opened #3 "Allow users to create their own organization and survey"

[2016-10-28 12:34] debajyotiGuha commented on #1
Resolved.
Please logged in http://cleonix.biz/faithtrends/login here. And changed are visible here.

[2016-10-28 12:36] debajyotiGuha commented on #2
Link for registration of people taking the survey is given in the login page for them.
Please logged in http://cleonix.biz/faithtrends/login here. And changed are visible here.

[2016-10-31 20:17] Designer-cleonix commented on #3
@debajyotiGuha  Where is the update?

[2016-11-02 07:57] debajyotiGuha commented on #3
In current structure of this project if any user create a new organization then he will be registered as organization admin and he can be able to add his own surveys as well. In db structure now there is probation to add only one organization with a user. And only one user can be the organization admin.
Hence if user register in other organization then he will be added as a user.
Then he can't abl

[2016-11-02 17:53] rikalively opened #4 "Cannot send out survey"
Hey everyone! My name is Rika and I've been beta-testing the FaithTrends site. I'm excited to be a part of the team - so thanks for having me!

The first issue I've come across is I am unable to send out the survey - The “track trends” form is not working. I’ve tried to send out the survey to a couple of emails and so far I still haven’t seen them in my inbox.

[2016-11-02 18:35] rikalively opened #5 "Need account to access survey"
Cannot access survey without having an account with FaithTrends - I tried using the “shareable link” option to send out the survey through my own email. When I clicked on the link, it took me to the login page for FaithTrends. So the survey is not accessible without an account.

[2016-11-02 18:36] rikalively opened #6 "Unable to create new users"
Unable to create new users - I created myself two different users on FaithTrends and I haven’t received the invitations in my inbox. The users and the emails are showing up on the user page, I just cannot access either accounts to login.

[2016-11-03 11:45] bikash02 commented on #6
I will give you update within 30minutes

[2016-11-03 12:30] bikash02 commented on #6
@rikalively Please login into the system using your credentials and try to add new user.The email will go to user's valid email address and once they will click or verify the activation link,the profile will get ready for them.
http://cleonix.biz/faithtrends/login

[2016-11-03 12:35] bikash02 commented on #6
If the users not activated their profile,you can't access them.One more thing,please check the spam inbox as well.Please keep me update if the email goes to spam.

[2016-11-03 13:26] bikash02 commented on #4
I have tested and received the email from faith trends.Check once again and leave your comment please.Check the spam inbox as well.

![screenshot from 2016-11-03 18_46_36](https://cloud.githubusercontent.com/assets/16361011/19967630/2f1dac76-a1f7-11e6-85bf-dceea3ac9a3e.png)

[2016-11-03 13:48] rikalively commented on #6
It worked this time! Wonderful!!

Now I deleted the old users that I tried to create since the accounts were not created. It won't let me recreate those accounts with those emails. Is there a way to change this?

Thank you so much

[2016-11-03 13:48] bikash02 commented on #5
If you want to answer or to get response for the particular survey you have to create an account with faith trends,Otherwise we won't track the result or survey answer.

It can be possible without having an account but at this point you have to create an account get access to the survey.Should I change the code.Waiting for your reply.So please tell me what to do. @debdiproy @camerontrimble @rikali

[2016-11-03 13:56] rikalively commented on #4
Got the survey! Thank you!!

[2016-11-03 13:57] rikalively commented on #5
Okay, that makes sense. That would be up to Cameron.

Thank you

[2016-11-03 14:04] bikash02 commented on #6
If the system allow you to delete the data permanently from the database then you'll be able to use the emails.But now the system don't permit it.

**Note: If you provide me the users email I will make it for you from the database.**

[2016-11-03 14:05] bikash02 commented on #4
Keep me posted if I can help you for anything else.Thank you!

[2016-11-03 14:16] bikash02 commented on #3
@camerontrimble @debdiproy I have talked to developer and it will take sometimes to get resolve.We have to update database structure for organization and survey and map into them otherwise its not happen.So please allow us to change the database structure and also the coding or script.
Time needed to get it resolve: 5-6 working days.

Waiting for your opinion both.

[2016-11-03 14:38] bikash02 commented on #6
@rikalively I have removed the emails from the system.Please try to add using the same email.

[2016-11-03 15:53] rikalively commented on #6
I was able to open the account. Thank you @bikash02

[2016-11-03 15:56] #6 closed, assigned to debdiproy, camerontrimble, debajyotiGuha

[2016-11-03 16:04] camerontrimble commented on #5
People should be able to complete the survey without registering as a user. They should have that option to register, however, because we want them to subscribe to the service and send out their own surveys.

We should be able to track their responses in our system because they are associated with a survey.

Study https://www.surveymonkey.com/r/VNJ5H6B as an example. I can take the survey without

[2016-11-03 16:04] #4 closed, assigned to bikash02

[2016-11-03 16:06] camerontrimble commented on #3
Do it. We need an easy way for users to be able to subscribe to this software.

[2016-11-03 16:06] #2 closed, assigned to bikash02, Designer-cleonix

[2016-11-03 16:25] rikalively opened #7 "Survey Addressed to User"
When I received the surveys in my inbox, they were addressed to "user" instead of my first name.
Are we able to personalize it?

![unnamed](https://cloud.githubusercontent.com/assets/23104131/19974925/8aedfe02-a1c0-11e6-84a4-4ce54776bc82.png)

[2016-11-03 16:26] rikalively opened #8 "No confirmation message"
After taking the survey, there is no confirmation or thank you page - just a blank screen.

<img width="1440" alt="screen shot 2016-11-03 at 9 54 14 am" src="https://cloud.githubusercontent.com/assets/23104131/19974970/b3dee132-a1c0-11e6-883c-f606cf57dba3.png">

[2016-11-03 16:28] rikalively opened #9 "Custom email text does not update"
On the survey settings form, there is a feature to edit the email text. The custom text will show up on the preview email but does not actually save or update once the survey has been sent out. I got the default email text in my inbox.

[2016-11-04 08:11] bikash02 commented on #7
I have updated the code and now if you put the email say "bikash02@cleonix.com"  and send the survey link to that email id then the user will get the email and address will be "Dear bikash02".
We don't track the first name from an email,so we took before @. Please let me know your feedback.

[2016-11-04 08:18] bikash02 commented on #8
Once you have submitted the survey answer you'll get a notification.Please have a look.
![screenshot-cleonix biz 2016-11-04 13-45-48](https://cloud.githubusercontent.com/assets/16361011/19998871/31d7068a-a295-11e6-8677-393498befb7e.png)

Let us know if you redirect them to a new page name "thank you".

[2016-11-04 08:23] bikash02 commented on #9
We have updated the code.Please check once again.Working now!!

[2016-11-04 08:26] bikash02 commented on #5
Thank you !! We'll update you very soon.

[2016-11-04 08:30] bikash02 commented on #8
@debajyotiGuha Please update the thank you page as the below link
https://www.surveymonkey.com/survey-thanks/?sm=_2BcY47teWunRy5mHcpw2ldrHAeMCxz8G41zV3zTv5yxVRNzHWIPb8KoB9udwhCILQ2CHhOPIetymvO7wkqGL9CA_3D_3D

[2016-11-04 11:53] debajyotiGuha commented on #8
It will be updated by today.

[2016-11-04 12:58] camerontrimble opened #10 "Create a landing page that allows people to purchase the system"

[2016-11-04 13:45] amyolrick commented on #9
Hello, thank you for working on this. I am looking at the email issue now. In the preview console I see that one paragraph of the email updates, but I cannot edit the whole thing:

![screen shot 2016-11-04 at 9 43 21 am](https://cloud.githubusercontent.com/assets/22732566/20007551/291b9b90-a273-11e6-81c4-85c022e2dae1.png)

And now the email that user receives seems to simply have a blank paragraph

[2016-11-04 14:05] Designer-cleonix commented on #3
@bikash02 please give an update on this.

[2016-11-04 14:32] rikalively commented on #7
The update worked - it addressed me by my name. Thank you!

[2016-11-04 14:34] rikalively commented on #8
I just retook the survey and got the same blank page. I will check again after you work on the new update.

[2016-11-04 14:43] rikalively opened #11 "Cannot add new organization"
I've tried filling out the form but it will not show up on the organization list.

[2016-11-04 14:45] rikalively opened #12 "No confirmation page for adding in data manually"
There's an option to add in survey data manually rather than sending it out - after completing that form there is also no confirmation page or thank you page. It's the same blank page as last time.

[2016-11-04 14:46] rikalively opened #13 "Responses to descriptive questions are not saved"
I cannot find any of the answers to the descriptive questions from the survey analysis page.

[2016-11-04 14:48] bikash02 commented on #3
Start working on the issue and will get the update before 11th,Nov

[2016-11-04 14:50] debajyotiGuha commented on #8
It's resolved. Please check once.

[2016-11-04 14:55] rikalively commented on #8
Still cannot get anything.

<img width="1406" alt="screen shot 2016-11-04 at 10 54 39 am" src="https://cloud.githubusercontent.com/assets/23104131/20010054/232d1a38-a27d-11e6-831c-780fbe0a667f.png">

[2016-11-04 15:21] bikash02 commented on #12
Please try to recheck once again I have tested and its working for me.
![screenshot-cleonix biz 2016-11-04 20-50-49](https://cloud.githubusercontent.com/assets/16361011/20011105/7bc61d4a-a2d0-11e6-97ba-c361a257281e.png)

[2016-11-04 15:23] bikash02 commented on #12
http://cleonix.biz/faithtrends/login.php?ref=MTg%3D&&ref1=MjA%3D

[2016-11-04 15:24] bikash02 commented on #11
Can you please send me the url that you were trying to access?

[2016-11-04 15:26] camerontrimble opened #14 "It looks like the notes are not isolating to one account."
I am logged in as Dawn Hammond. But I can see Amy Olrick's note in the system. Amy and Dawn should never see each others info.

![screen shot 2016-11-04 at 11 24 50 am](https://cloud.githubusercontent.com/assets/15096099/20011290/755ad8c8-a281-11e6-8362-a64bd20833c4.png)

[2016-11-04 15:26] camerontrimble opened #15 "http://cleonix.biz/faithtrends/dashboard#readNote not working"

[2016-11-04 15:29] camerontrimble commented on #12
I just tested and it is working for me. Good job on that. We need to make the process "pretty" with different colors/design, but that can come later.

[2016-11-04 15:31] camerontrimble commented on #9
Issue with handling '

![screen shot 2016-11-04 at 11 31 09 am](https://cloud.githubusercontent.com/assets/15096099/20011498/3b341c30-a282-11e6-9ee0-725c2b888d81.png)

[2016-11-04 15:32] bikash02 commented on #12
Thank you for your response!!
Keep me posted I'll update you regarding the design..

[2016-11-04 15:32] #5 closed, assigned to debdiproy, camerontrimble, bikash02, rikalively

[2016-11-04 15:37] bikash02 commented on #7
Anything else?
Please close ticket issue is resolved.Thank you!! :)

[2016-11-04 15:40] bikash02 commented on #8
Can you please please retest?
It's working for me.I have tested.

![screenshot-cleonix biz 2016-11-04 20-50-49](https://cloud.githubusercontent.com/assets/16361011/20011873/138c7f14-a2d3-11e6-99d3-499423cf4f64.png)

[2016-11-04 15:43] bikash02 commented on #8
If you are still getting the blank page,please provide me the page url.I will test myself and It will be more easier to me resolve the issue.Thank you for your quick response !!

[2016-11-04 15:44] bikash02 commented on #1
@camerontrimble Please check.Resolved the issue.

[2016-11-04 15:51] debajyotiGuha commented on #9
Updated this mail. Please check once.

[2016-11-04 15:55] camerontrimble opened #16 "Format email"
Different font sizes and doesn't fit on the screen, regardless of the screen size

![screen shot 2016-11-04 at 11 54 13 am](https://cloud.githubusercontent.com/assets/15096099/20012415/76b1ba30-a285-11e6-86af-42350cfedff4.png)

[2016-11-04 16:00] rikalively commented on #11
http://cleonix.biz/faithtrends/organizations

[2016-11-04 16:51] camerontrimble opened #17 "Description field should not be limited by number of characters"
![screen shot 2016-11-04 at 12 50 24 pm](https://cloud.githubusercontent.com/assets/15096099/20014444/5ed57fd4-a28d-11e6-801c-4e12cad3a806.png)

[2016-11-04 16:57] camerontrimble opened #18 "We need a "rating" question"
For Example: On a scale of 1 to 10, how would you rank the importance of...?"

[2016-11-04 17:10] rikalively commented on #8
here's the blank page - http://cleonix.biz/faithtrends/survey-answer?id=23

here's the actually survey - http://cleonix.biz/faithtrends/survey-answer?id=23

Thank you!

[2016-11-04 17:11] #7 closed, assigned to debajyotiGuha

[2016-11-04 17:57] rikalively commented on #12
I still cannot get any confirmation pages. I've tried on both Chrome and Safari.

[2016-11-07 08:03] bikash02 commented on #8
You are getting the blank page because maybe the survey was created by user not the admin.We are working on the users,organization & survey module altering the DB structure and will update you within this week.

[2016-11-07 08:08] bikash02 commented on #11
We are working on the organization module so that every user add their own organization.You have to allow us for this week for updating the system.
Please check  #3

[2016-11-07 08:10] bikash02 commented on #12
are you using "admin" or "user" account?

[2016-11-07 08:12] bikash02 commented on #16
@Designer-cleonix @i-puspita @debajyotiGuha Please check the design and resolve it asap.

[2016-11-07 09:28] i-puspita commented on #16
Working on it. Updated by tomorrow

[2016-11-07 12:19] i-puspita commented on #10
Design section will be update by tomorrow

[2016-11-07 12:19] debajyotiGuha commented on #18
Working on user and organization module. Once that completed, can be able to work on this.

[2016-11-07 12:22] debajyotiGuha commented on #17
I have checked, but unable to find the place where description field has character limit. Please add the link of the page or specify the field with page name and field name.

[2016-11-07 12:26] debajyotiGuha commented on #15
Read message is working in the provided link. Screen shot added with this. Please check once and give feedback.
![screenshot from 2016-11-07 17 55 12](https://cloud.githubusercontent.com/assets/18532725/20057778/835d24a0-a513-11e6-9fca-083c1c341596.png)

[2016-11-07 12:31] debajyotiGuha commented on #14
This is not a note section. This is a message section. Someone can send a message to other. That's why the receiver can read the message.

[2016-11-07 12:31] debajyotiGuha commented on #13
This problem is fixed. Updated, please check once.

[2016-11-07 12:32] debajyotiGuha commented on #12
The problem is fixed now. Please check one more time.

[2016-11-07 13:49] rikalively commented on #8
okay thank you so much!!

[2016-11-07 13:50] rikalively commented on #11
thank you

[2016-11-07 14:01] rikalively commented on #13
Where can I find where they saved? Both of these pictures are from the analyze survey page - the graph says their are answers but the other widget says there were none. Is it saving the text from the question? There needs to be a way to find what users had typed in for that question rather than just keeping the number of answers.

<img width="275" alt="screen shot 2016-11-07 at 8 59 17 am" src="ht

[2016-11-07 14:05] rikalively commented on #12
I'm using an admin account. Still cannot get anything. I'm getting this page every time I take a survey or add in data manually.

<img width="1146" alt="screen shot 2016-11-07 at 9 04 31 am" src="https://cloud.githubusercontent.com/assets/23104131/20060465/48952c90-a4c9-11e6-8a67-95164578fafc.png">

[2016-11-07 14:14] debajyotiGuha commented on #13
Please refresh the site with cache clear or just press ctrl+f5 and test one more time. I have checked it in with Dawn Hammond account and it's working fine.

[2016-11-07 14:14] debajyotiGuha commented on #12
Please refresh the site with cache clear or just press ctrl+f5 and test one more time. I have checked it in with Dawn Hammond account and it's working fine.

[2016-11-07 16:03] rikalively commented on #13
Where are you finding the answers to the descriptive questions? I'm still getting the same results after refreshing and clearing cache.

[2016-11-07 16:07] rikalively commented on #12
finally got it! thank you!

[2016-11-07 16:07] #12 closed, assigned to nobody

[2016-11-07 16:09] rikalively commented on #8
got it working now

[2016-11-07 16:09] #8 closed, assigned to debajyotiGuha

[2016-11-07 16:38] rikalively opened #19 "Issues adding multiple emails for survey"
On the track trends form, every time I click "Add email" it deletes the ones I already typed in.
It should save the ones I already typed in when I click "Add email."
<img width="600" alt="screen shot 2016-11-07 at 11 37 54 am" src="https://cloud.githubusercontent.com/assets/23104131/20066163/a480ba78-a4de-11e6-8a85-6d202df4217d.png">

[2016-11-07 16:43] rikalively opened #20 "Cannot assign user to a survey"
I tried to assign my other account to a survey and I currently have no access to the surveys. My survey ladder and surveys dashboard are both empty.

[2016-11-07 16:49] rikalively opened #21 "Calendar does not save correct times"
The calendar widget is saving the wrong times for the appointments I create. I typed in 11:00am - 12:30pm. Also, there needs to be more options for creating the time of events. If I need to remember an appointment at 1:45pm I only have the options for 1:00 or 1:30.

<img width="876" alt="screen shot 2016-11-07 at 11 47 05 am" src="https://cloud.githubusercontent.com/assets/23104131/20066572/fc6d24

[2016-11-07 18:15] bikash02 commented on #19
@debajyotiGuha replace the function with ajax.

[2016-11-08 05:51] debajyotiGuha commented on #20
This feature required changes in user and organization module, on which I'm already working. Once that completed it will be started.

[2016-11-08 06:24] i-puspita commented on #16
updated. Please Check.

[2016-11-08 06:40] debajyotiGuha commented on #19
Working on this.

[2016-11-08 10:33] i-puspita commented on #10
Design section is updated.Please visit the following link http://cleonix.biz/faithtrends/landing/index.html & give feedback.

[2016-11-08 12:30] debajyotiGuha commented on #19
Updated. Please check.

[2016-11-08 13:52] rikalively commented on #20
thank you!

[2016-11-08 13:53] debajyotiGuha commented on #13
OK, I got the scenario where this problem occurred. There is some problem in storing in the first question answered. That because of the user structure. Till date this survey works for maximum one response for a person per day. But because it need to store more than one response for a person for same day it will take whole up-gradation in survey structure. So once I completed the user and organiza

[2016-11-08 14:03] rikalively commented on #19
Looks great. Thank you!!

[2016-11-08 14:03] #19 closed, assigned to debajyotiGuha

[2016-11-08 14:04] rikalively commented on #13
Okay - thank you @debajyotiGuha

[2016-11-08 14:44] bikash02 commented on #21
@camerontrimble @debdiproy The calender is not configured in the system.It's a static data.
If you want to save event data & sync to the calendar then we have to configure .Please let me know if you make it dynamic.

[2016-11-08 17:26] camerontrimble commented on #21
This isn't a critical feature. We could remove this entirely. @rikalively we should think about what information we do want to put on the dashboard. We can design it in any way we want...and what we currently have is not particularly strategic.

[2016-11-08 19:17] camerontrimble commented on #17
Test by writing a bunch of text in the box. You can also see the issue here: https://vimeo.com/190763692

[2016-11-08 19:31] #16 closed, assigned to bikash02, Designer-cleonix, debajyotiGuha

[2016-11-08 20:18] rikalively commented on #21
@camerontrimble Okay - will keep that in mind! I'll discuss with @amyolrick

[2016-11-08 20:18] #21 closed, assigned to debdiproy, camerontrimble, debajyotiGuha

[2016-11-09 02:47] rikalively opened #22 "Cannot remove user profile picture"
People may want to remove their profile picture after a while. Can we add an option to remove pictures after uploading?

[2016-11-09 05:18] debajyotiGuha commented on #22
Need to talk with @bikash02 sir.

[2016-11-09 05:29] debajyotiGuha commented on #17
Now I got it. It will changed before end of today.

[2016-11-09 08:05] bikash02 commented on #22
@debajyotiGuha Please add the remove icon and once the user removed their profile picture set a placeholder image.

[2016-11-09 09:27] debajyotiGuha commented on #22
Updated.

[2016-11-09 11:05] debajyotiGuha commented on #17
Updated. Please check once.

[2016-11-09 14:36] rikalively commented on #22
Thank you!

[2016-11-09 14:36] #22 closed, assigned to nobody

[2016-11-09 14:50] rikalively opened #23 "Issues with exporting users"
On the users page, I have the option to export the list in several different formats. I can only export to PDF - the rest do not export.
<img width="1172" alt="screen shot 2016-11-09 at 9 49 04 am" src="https://cloud.githubusercontent.com/assets/23104131/20142241/f0cd10f0-a661-11e6-8545-f0435db40e29.png">

[2016-11-10 12:54] debajyotiGuha commented on #23
Updated.

[2016-11-10 15:15] rikalively commented on #23
I still cannot download the files. They come up blank and titled unknown.

[2016-11-10 19:23] Designer-cleonix commented on #23
@debajyotiGuha Fix it ASAP.

[2016-11-11 05:24] debajyotiGuha commented on #23
This might be an browser compatibility issue. Need to discuss with @bikash02 sir.

[2016-11-11 07:35] bikash02 commented on #23
@rikalively Can you please tell me in which browser you were testing?

[2016-11-11 15:08] rikalively commented on #23
I'm using Safari @bikash02

[2016-11-14 09:11] bikash02 commented on #23
@i-puspita & @debajyotiGuha Please resolve the issue.

[2016-11-14 11:34] bikash02 commented on #23
@rikalively I have tested the page in safari.The download works very well but without extension. you have to manually add extension to it in order to open it.The plugin have some limitations.

If we try some other plugins in that cases it might be slightly different to the current plugin.

[2016-11-14 15:39] rikalively commented on #23
How do I manually add the extension?
We need an easier way for people to download this file. Most of the users will just want to be able to download it without doing any extra steps.

[2016-11-14 15:40] rikalively commented on #11
How is the update coming? I still cannot add new organizations.

[2016-11-14 15:40] rikalively commented on #13
How are we doing with this issue?

[2016-11-15 05:22] debajyotiGuha commented on #13
It will resolved shortly.

[2016-11-15 13:34] bikash02 commented on #23
@debajyotiGuha Please try some other plugins or add custom script for exporting the users.

[2016-11-16 11:43] Designer-cleonix commented on #11
@bikash02 what is the progress? please update.

[2016-11-16 11:43] Designer-cleonix commented on #13
@debajyotiGuha what is the update?

[2016-11-16 13:23] debajyotiGuha commented on #23
Issue solved. Please check once.

[2016-11-16 13:26] debajyotiGuha commented on #20
Now it's working. Please check once.

[2016-11-16 13:27] debajyotiGuha commented on #13
This has resolved. Please check once.

[2016-11-16 13:28] debajyotiGuha commented on #11
Now the structure has changed. Please check once and give your feedback.

[2016-11-16 13:28] debajyotiGuha commented on #3
Now the structure has changed. Please check once and give your feedback.

[2016-11-16 13:28] bikash02 opened #24 "Truncated the system data!! Please try to add new data when you are testing."

[2016-11-16 13:30] bikash02 commented on #24
Your login credentials remain the same.

[2016-11-16 13:40] bikash02 commented on #23
@rikalively Please check from your end.

[2016-11-17 02:36] rikalively opened #25 "Cannot login"
I just tried to login from two different accounts and I am not able to get in. I am unable to follow up on any previous issues since I cannot get into the system.

[2016-11-17 14:36] debajyotiGuha commented on #25
Once you register please a auto generated mail will be sent to your registered email id. A account activation link will be there in that mail. And login can be possible only after activate the account by click on the link. Please try the process for one more time and give feedback.

[2016-11-17 15:51] rikalively commented on #25
I was able to create a new account. What happened to the old accounts? Did I lose the surveys I created on those accounts?

[2016-11-17 15:52] rikalively commented on #11
Working now. Thank you!

[2016-11-17 15:52] #11 closed, assigned to nobody

[2016-11-17 16:06] amyolrick commented on #25
I am also unable to log into my account and am unable to use the forgotten password link to log back into my account. Please fix this asap. After both of these issues are fixed, I would appreciate it if someone would call me via Skype to explain to me why this happened and exactly what steps have been put in place to make sure that something like this does not happen again.

[2016-11-17 16:12] rikalively commented on #13
Working now. Thank you!

[2016-11-17 16:12] #13 closed, assigned to debajyotiGuha

[2016-11-17 16:33] rikalively commented on #20
Working now. Thank you!

[2016-11-17 16:33] #20 closed, assigned to nobody

[2016-11-17 16:34] rikalively commented on #23
I am still unable to use this feature. This is what downloaded when I tried to export to Excel.
<img width="607" alt="screen shot 2016-11-17 at 11 34 24 am" src="https://cloud.githubusercontent.com/assets/23104131/20398054/d387a074-acb9-11e6-84d0-3d8b442ec2f8.png">

[2016-11-17 21:47] Designer-cleonix commented on #25
Look into this urgently @bikash02 @debajyotiGuha

[2016-11-18 06:19] debajyotiGuha commented on #25
Cause the whole db structure has changed, @bikash02  sir truncate the old db tables. Please start fresh testing from now.
If the previous data will be there, then that can conflict the current structure and data. So remove previous data was the only solution to this problem.

[2016-11-18 06:22] debajyotiGuha commented on #23
Please refresh your browser cache. We have changed the plugin. Hence you need to refresh the browser  or have to use any browser cache cleaner. Then I think it will works correctly.

[2016-11-18 08:22] #24 closed, assigned to debdiproy, camerontrimble, debajyotiGuha, rikalively

[2016-11-18 13:44] rikalively commented on #23
I have refreshed my browser cache. It still does not give me a real file to open. I am trying in both Safari and Chrome

[2016-11-18 14:11] Designer-cleonix commented on #23
@bikash02 Please take care of this .

[2016-11-18 14:47] bikash02 commented on #23
@debdiproy @Designer-cleonix @rikalively The issue was only for the mac users.It's working for windows & linux.You can check it from linux or windows PCs.We'll try to rectify the issue for mac and will update you soon.

[2016-11-18 15:11] rikalively commented on #23
Let me know once you have it updated! Thank you.

[2016-11-21 08:49] bikash02 commented on #18
@debajyotiGuha have you completed the module?

[2016-11-21 10:14] bikash02 commented on #17
@camerontrimble We have updated the code.Please check once again.

[2016-11-21 10:34] bikash02 commented on #10
@camerontrimble @debdiproy Please check the landing page and give us your feedback.
Can I apply it to home or landing page like http://cleonix.biz/faithtrends/ ?

[2016-11-21 10:39] bikash02 commented on #3
@camerontrimble We have updated the db structure and now you'll able to add your own organization and survey.

[2016-11-21 10:40] bikash02 commented on #9
Updated the \' issue as well.Please check once again.

[2016-11-21 10:48] bikash02 commented on #14
@camerontrimble @debdiproy Can you please tell me what will be the scope of the module.Is it just like a note section where user can save their personal note into the system and only they can view it when logged into the system?No one will view the message/notes even they are in same organization.
Please confirm us and I will update the system accordingly.

[2016-11-21 11:02] bikash02 commented on #25
@amyolrick @rikalively @camerontrimble  we were restructuring the system and updated the module like users,survey and organization.If I didn't  truncate the previous data then it might be conflicted with old and new datas.So please try to understand the situation and We are very sorry for that.

If you are still not able to logged in into the system please let me know we'll definitely help you.

[2016-11-21 15:40] #25 closed, assigned to bikash02, Designer-cleonix, debajyotiGuha

[2016-11-21 15:49] amyolrick commented on #17
Great, thank you.

[2016-11-21 15:49] #17 closed, assigned to debdiproy, bikash02, Designer-cleonix, debajyotiGuha

[2016-11-21 15:50] rikalively opened #26 "Cannot delete survey questions"
When creating or editing a survey, you cannot delete different portions of it. So if I made a mistake and I want to remove one of the questions, I cannot do that without deleting the whole survey.

<img width="1138" alt="screen shot 2016-11-21 at 10 50 00 am" src="https://cloud.githubusercontent.com/assets/23104131/20489351/4484b5ac-afd8-11e6-9f53-e6c37ca44948.png">

[2016-11-21 19:04] rikalively opened #27 "Client lost survey data"
@amyolrick and I had a meeting with Dawn Hammond this morning. She has been testing the system as well and told us that she lost all of the survey data she created this morning.
Do you have an idea of what may have caused this? She doesn't want to re-enter the surveys until she knows that she won't lose them.
Let me know as soon as you know so I can contact her.

[2016-11-22 00:28] rikalively opened #28 "Built-in frequency not appearing"
Our client is adding frequencies but they are not showing up on her frequency page.
Additionally, when I add a new frequency, I do not see it listed as an option when I go to create a survey.

[2016-11-22 00:31] rikalively opened #29 "Create survey button leads to blank page"
Here is the page it takes you to when you click on "create survey"
<img width="1151" alt="screen shot 2016-11-21 at 11 09 15 am" src="https://cloud.githubusercontent.com/assets/23104131/20506286/f9c2beda-b020-11e6-8983-a64f715737c7.png">

Instead, it would make more sense for the "Create survey" button to lead you to this page
<img width="1151" alt="screen shot 2016-11-21 at 7 29 45 pm" src="https

[2016-11-22 00:41] rikalively opened #30 "Preview survey button confusing"
Is there a way we can make it easier to go from the "preview survey" page back to the "editing survey" page? When you click "preview survey" it opens a new tab but when you hit the back button on your browser it closes the tab out.
Our client pointed this out and when she's using this feature she ends up with too many tabs.

[2016-11-22 05:17] debajyotiGuha commented on #26
There are few similar kind of problems on this page. @debdiproy sir working on this point. We will update soon on this.

[2016-11-22 05:19] debajyotiGuha commented on #18
I have completed the organization module. But there are few problems on survey settings page. On which @debdiproy  sir working now. Once he complete his section I will complete the above point.

[2016-11-22 05:57] debajyotiGuha commented on #30
Issue solved. Now survey preview open in the same window and back on the previous page by clicking on the back button.

[2016-11-22 06:08] debajyotiGuha commented on #29
Issue solved. Please check once.

[2016-11-22 06:23] debajyotiGuha commented on #28
If you added those frequencies before db change then that are not present there right now. So please add frequencies one more time and I think it will be appear in the time of adding survey.

[2016-11-22 06:25] debajyotiGuha commented on #27
Cause the whole structure has changed, previous data will not fit in this structure. That is the only reason why we remove those data. Please add one more time and check, it will not lost any more.

[2016-11-22 13:57] rikalively commented on #30
Thank you!

[2016-11-22 13:57] #30 closed, assigned to debajyotiGuha

[2016-11-22 13:59] rikalively commented on #29
This looks great!! Thank you

[2016-11-22 13:59] #29 closed, assigned to nobody

[2016-11-22 14:00] rikalively commented on #28
I can see them now. Thank you!

[2016-11-22 14:00] #28 closed, assigned to debajyotiGuha

[2016-11-22 14:01] rikalively commented on #27
Did we change the structure yesterday? She had just created two surveys yesterday morning and in a few hours lost her work.
I was on in the morning as well and did not experience any issues.

[2016-11-22 14:03] rikalively opened #31 "Duplicate surveys in bank"
When I go to create a new survey, it shows up twice in my survey bank.

<img width="1159" alt="screen shot 2016-11-22 at 9 01 57 am" src="https://cloud.githubusercontent.com/assets/23104131/20526513/6c499cd2-b092-11e6-9a9d-a1ae8ea6d71c.png">

[2016-11-22 14:08] rikalively opened #32 "Words not visible for multiple choice question"
Our we able to have the first few words of the question visible for the multiple-choice question in the same way the other ones are?
It'll make it easier for users to re-order their survey questions.

<img width="820" alt="screen shot 2016-11-22 at 9 07 12 am" src="https://cloud.githubusercontent.com/assets/23104131/20526679/198093f6-b093-11e6-8f1a-7be806dc661f.png">

[2016-11-23 06:54] debajyotiGuha commented on #31
Issue solved. Please check once.

[2016-11-23 06:56] debajyotiGuha commented on #32
There are few similar kind of problems on this page. @debdiproy sir working on this point. We will update soon on this.
This problem is similar with
https://github.com/ConvergenceUS/Faith-Trends/issues/26
Both will be solved together.

[2016-11-23 06:58] debajyotiGuha commented on #27
Please try to test from fresh. I don't think problem will occurred any more. If still find data lost issue please inform us. We will definitely fix this.

[2016-11-23 16:23] rikalively commented on #31
Great, thank you!

[2016-11-23 16:23] #31 closed, assigned to nobody

[2016-11-23 16:23] rikalively commented on #27
Okay thank you @debajyotiGuha

[2016-11-25 15:35] rikalively commented on #23
How are we doing with resolving this issue?

[2016-11-25 15:42] rikalively opened #33 "Confusing form for numeric question"
This form is a little confusing. Maybe the "question title" should be the first box to fill out on the form since it goes above the "question" on the survey. Also what does the subtext do? Whatever text I put in that form does not appear on the actually survey.

<img width="474" alt="screen shot 2016-11-25 at 10 40 22 am" src="https://cloud.githubusercontent.com/assets/23104131/20629848/9d42f020-b

[2016-11-25 15:43] rikalively opened #34 "Uploads does not work on numeric questions"
I tried to upload a picture on the numeric question form and it did not appear on the survey.

[2016-11-28 19:42] debdiproy commented on #33
@debajyotiGuha Take care of this

[2016-11-28 19:45] debdiproy commented on #23
@rikalively We have to change the upload module for making it cross browser friendly and this will be resolved by tomorrow

[2016-11-29 05:00] debajyotiGuha commented on #34
There are few similar kind of problems on this page. @debdiproy sir working on this point. We will update soon on this.
This problem is similar with
#26
They will be solved together.

[2016-11-29 05:15] debajyotiGuha commented on #33
Subtext has removed and Question title has moved above the Question filed.

[2016-12-02 16:26] rikalively commented on #23
I just tried to export the users and I'm still having trouble.

[2016-12-02 16:29] rikalively commented on #33
Looks good. Thank you!

[2016-12-02 16:29] #33 closed, assigned to bikash02, debajyotiGuha

[2016-12-05 16:33] rikalively commented on #26
How are we doing on this issue?

[2016-12-05 18:19] debdiproy commented on #26
@rikalively I have been working on this one for a bit of time as there are a few other JQuery clash thats stopped me from resolving this, however I am very close and will be positively resolved before Wednesday.

[2016-12-05 19:55] rikalively commented on #26
Thank you so much for all of your hard work!

[2016-12-08 17:26] rikalively commented on #34
I know this was supposed to be solved with #26
How are we doing with this resolving this issue?

[2016-12-08 17:26] rikalively commented on #23
Are we closer to resolving this issue?

[2016-12-12 11:13] debdiproy commented on #26
Hello @rikalively @debajyotiGuha I have resolved the issue of the checkboxes so now you can click the checkboxes of Multiple choice question.

[2016-12-12 11:54] debajyotiGuha commented on #32
Resolved. Please check once.

[2016-12-12 13:21] debajyotiGuha commented on #26
Updated. Please check once.

[2016-12-12 14:26] debajyotiGuha commented on #18
Start working on this. Will be updated by tomorrow.

[2016-12-12 16:50] rikalively commented on #32
Thank you!

[2016-12-12 16:50] #32 closed, assigned to nobody

[2016-12-12 16:53] rikalively commented on #26
I see that you can delete portions of the multiple choice question - thank you.
But I am still unable to delete questions from the survey. Users should have the option to delete a whole question. For example, if they change their mind and would rather use a numeric question rather than a descriptive question - you have to delete all of your progress rather than just deleting one survey question.

[2016-12-12 20:01] debdiproy commented on #26
@debajyotiGuha @bikash02 @Designer-cleonix   Add a delete option to each question so that the question can be deleted from the survey.

[2016-12-12 20:02] debdiproy commented on #1
@rikalively. Check this has been resolved

[2016-12-12 20:03] debdiproy commented on #3
@rikalively. This has been completed. Users can now create their own organization.

[2016-12-12 20:04] debdiproy commented on #9
@rikalively. This has been updated.

[2016-12-12 20:05] debdiproy commented on #10
@rikalively. The design has been created. Check and send us the feedback.

[2016-12-12 20:06] debdiproy commented on #15
@rikalively. This is working and updated.

[2016-12-12 20:07] debdiproy commented on #18
@debajyotiGuha . I believe all the problems of the survey settings page has been resolved now. So complete this fastest and update us on this.

[2016-12-12 20:08] debdiproy commented on #23
@rikalively . This hs not been resolved yet as we are looking for a different module that cloud resolve this problem. I will update on this very soon.

[2016-12-12 20:09] debdiproy commented on #27
@rikalively . You can close this I think as this will not be a problem next time as @debajyotiGuha said.

[2016-12-12 20:13] rikalively commented on #1
I'm getting a blank screen after I try to add data manually.
<img width="1175" alt="screen shot 2016-12-12 at 3 12 55 pm" src="https://cloud.githubusercontent.com/assets/23104131/21115044/7d7ce1e4-c07d-11e6-8fed-64fade80efd6.png">

[2016-12-12 20:16] #3 closed, assigned to debdiproy, bikash02, Designer-cleonix, debajyotiGuha, rikalively

[2016-12-12 20:18] #9 closed, assigned to debajyotiGuha, rikalively

[2016-12-12 20:22] rikalively commented on #10
I am unable to see the link that @bikash02 posted. But if it is the same link that @i-puspita posted then I think the landing page looks great layout wise. Is there an updated version with current text? And are these the final color choices?

[2016-12-12 20:25] rikalively commented on #15
I'm not quite sure what the initial problem was in the first place. I'm assuming the message widget on the dashboard is like a notes widget? I am unable to send any messages from my dashboard to test.
<img width="1175" alt="screen shot 2016-12-12 at 3 23 30 pm" src="https://cloud.githubusercontent.com/assets/23104131/21115432/3ec21d96-c07f-11e6-87eb-c5b316a8c9f8.png">

The "Send new message" on th

[2016-12-12 20:26] #27 closed, assigned to debajyotiGuha

[2016-12-12 20:27] rikalively opened #35 "Surveys not assigning to organizations"
<img width="1047" alt="screen shot 2016-12-12 at 3 16 16 pm" src="https://cloud.githubusercontent.com/assets/23104131/21115477/67ac45ec-c07f-11e6-8a2c-e2e1c24067c4.png">

When I click add new survey under organizations, they do not save to the organization.

[2016-12-12 21:39] debdiproy commented on #34
@rikalively @debajyotiGuha I think there has been a confusion on this one why will there be an upload in Numeric question. @camerontrimble can you verify this. I have hidden this from the form. Let me know.

[2016-12-12 21:49] debdiproy commented on #35
@rikalively I think Rika you should create a level firstly and then a survey, that is the minimum requirement , because every survey needs a level and an organization.

[2016-12-12 21:57] rikalively commented on #35
Okay, I don't know if everyone would think to do that first. Can we provide instructions or not include the "Add survey" button until after you create a level.
I think users might get frustrated after making a few surveys and not having them show up on the survey ladder list.

[2016-12-12 22:10] debdiproy commented on #35
@rikalively Sure I will get this sorted

@debajyotiGuha Please follow the instruction to resolve it. The add survey button should not be visible on each organization until at least one level is added.

[2016-12-12 22:15] rikalively commented on #35
Thank you so much!

[2016-12-13 06:04] debajyotiGuha commented on #26
There is already a archive option. With which any question can be archived. But if a delete button required, then please comment and I will add that option.

[2016-12-13 07:47] debajyotiGuha commented on #1
This problem occurred cause, I'm working in rating type question. Once that complete this problem will be resolved.  Except rating type question, this is working for others. please check once ad give feedback.

[2016-12-13 11:56] debajyotiGuha commented on #35
Updated. Add survey button will be visible only after user added a level.

[2016-12-13 16:56] debdiproy commented on #35
@rikalively. Updated, check and confirm

[2016-12-13 16:57] debdiproy commented on #26
@rikalively  Please use the archive (Yes/No) to delete a question. Updated

[2016-12-13 17:01] debdiproy commented on #10
@rikalively This is the link http://cleonix.biz/faithtrends/landing/index.html and we can customize the colors according to your will. Let me know so that we can customize that.

@Designer-cleonix @i-puspita Work according to @rikalively color choices

[2016-12-13 17:01] debdiproy commented on #1
@rikalively Please check the update.

[2016-12-13 17:13] rikalively commented on #35
Great! Thank you!

[2016-12-13 17:13] #35 closed, assigned to rikalively

[2016-12-13 17:20] rikalively commented on #26
Archiving isn't deleting the question on my end. And I don't think users would know that archiving a question would be the same as deleting it. If we archive them would that be the same as saving them for a later date?
We should keep that feature but we should also have the option to delete a question in case someone made a typo or decided they didn't want to use that question.

[2016-12-13 17:21] rikalively commented on #10
Okay - let me talk with @amyolrick and I will get back to you on this hopefully by the end of the week.

[2016-12-13 17:22] rikalively commented on #1
Working. Thank you!

[2016-12-13 17:22] #1 closed, assigned to bikash02, Designer-cleonix, rikalively

[2016-12-13 18:23] debdiproy commented on #26
@rikalively I understood your point and will implement it accordingly and show you by tomorrow.

[2016-12-14 13:14] debajyotiGuha commented on #26
Individual delete button for every question added. Please check once.

[2016-12-14 13:16] debajyotiGuha commented on #18
Rating type question added. Rating range and steps can be added in the time of numeric question addition.
And that range will shown in answer page with that range and steps.

[2016-12-14 16:34] rikalively commented on #26
Great! Thanks so much!

[2016-12-14 16:34] #26 closed, assigned to nobody

[2016-12-15 07:18] bikash02 commented on #15
@debajyotiGuha Please resolve the issue

[2016-12-15 11:27] debajyotiGuha commented on #15
Resolved. Please check once.

[2016-12-15 11:27] debajyotiGuha commented on #14
The message section changed to a note section. Please check once.

[2016-12-15 15:14] rikalively commented on #15
<img width="1179" alt="screen shot 2016-12-15 at 10 13 38 am" src="https://cloud.githubusercontent.com/assets/23104131/21229308/335209b2-c2af-11e6-9476-53a19558ec58.png">

The message button is gone completely from my menu

[2016-12-16 05:24] debajyotiGuha commented on #15
As @bikash02 sir told me I replaced the message section with a note section. That's why I removed the message icon.

[2016-12-16 07:21] bikash02 commented on #15
@rikalively Please check the issue #14
You were requesting for the note module.So we have removed the message and make it as notes module.Now the notes are isolating to one account.

Please let me know what you want to do with this section?Waiting for your reply.

[2016-12-16 13:45] #14 closed, assigned to debdiproy, bikash02, Designer-cleonix, debajyotiGuha

[2016-12-16 13:49] rikalively commented on #15
Okay, I see that Cameron requested that.
I was able to post a note but I cannot delete it when I want to write something different.
<img width="347" alt="screen shot 2016-12-16 at 8 47 55 am" src="https://cloud.githubusercontent.com/assets/23104131/21264861/89cdb7e2-c36c-11e6-87ec-6c117f102413.png">

[2016-12-19 05:57] debajyotiGuha commented on #15
Updated. Please check once.

[2016-12-19 16:59] rikalively commented on #15
Thank you!!

[2016-12-19 16:59] #15 closed, assigned to debdiproy, bikash02, Designer-cleonix, debajyotiGuha, rikalively

[2016-12-21 15:29] rikalively commented on #10
I'm still working on finishing a color scheme and filler text. Thank you for your patience!

[2016-12-21 20:39] rikalively commented on #10
![faithtrends-01](https://cloud.githubusercontent.com/assets/23104131/21405311/616e4188-c793-11e6-8bc7-403cc7d665b0.png)
This is what I am thinking for colors. I tried to recreate what the website looks like but these would be the colors for fonts and icons. You can keep the original fonts and icons for now. Let me know your thoughts.
The HEX color codes are as follows:
Red - F35146
Teal - 24C0BC

[2016-12-23 10:41] Designer-cleonix commented on #10
@i-puspita  Please take care of this.

[2016-12-26 06:33] i-puspita commented on #10
I have updated the color codes. Please visit the following link http://cleonix.biz/faithtrends/landing/index.html  & inform if changes are required.

[2016-12-26 14:44] rikalively commented on #10
Colors look great!! Wonderful job - thank you!

[2016-12-26 15:19] rikalively commented on #23
How are we doing on resolving this problem?

[2016-12-28 06:25] debajyotiGuha commented on #23
We are working on it. Cause this problem occurred only in Safari browser, it's take a little more time to fix.

[2016-12-28 14:55] rikalively commented on #23
Thank you!

[2016-12-29 17:55] debdiproy opened #36 "Users not taken to survey from link in email"

[2016-12-29 17:56] debdiproy opened #37 "Add email text box for sending test survey"

[2016-12-29 18:04] debdiproy opened #38 "Connect users to infusionsoft for billing"

[2017-01-02 05:45] debajyotiGuha commented on #36
Updated.

[2017-01-02 10:03] debajyotiGuha commented on #37
Email text box added.

[2017-01-02 11:52] bikash02 commented on #38
Please provide me the access or form script so that I will connect it with the system.

[2017-01-02 18:00] camerontrimble opened #39 "Can't advance from this page if the email address already exists. Won't let me click anywhere"
![screen shot 2017-01-02 at 12 58 56 pm](https://cloud.githubusercontent.com/assets/15096099/21593980/602e66b6-d0eb-11e6-9661-f049591a42fe.png)

I tried to click on the "Log In" text, but won't take me anywhere.

[2017-01-03 09:46] debajyotiGuha commented on #39
Resolved. Please check once.

[2017-01-05 17:41] #39 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2017-01-05 17:41] #37 closed, assigned to nobody

[2017-01-07 14:40] rikalively commented on #10
If these colors are finalized for the landing page - should the rest of the site have the same color scheme? @camerontrimble @debdiproy

[2017-01-07 15:09] rikalively opened #40 "Questions not appearing on drag and drop form"
<img width="1114" alt="screen shot 2017-01-07 at 10 07 49 am" src="https://cloud.githubusercontent.com/assets/23104131/21742695/2d56650c-d4c1-11e6-8ad5-387ed6bb564c.png">

On this form, whenever I drag and drop a survey question, it does not show up after I submit the form. It is saving my work because I can see it when I click "preview survey" but it does not show up on the original form.

[2017-01-07 19:54] rikalively commented on #10
![faithtrends dashboard-01](https://cloud.githubusercontent.com/assets/23104131/21744720/22d60970-d4e9-11e6-8623-23c18d7f2a67.png)

Something like this? Same color scheme as the landing page but the darker gray is 676D73

[2017-01-10 12:45] Designer-cleonix commented on #10
@i-puspita Please do the needful.

[2017-01-12 11:29] i-puspita commented on #10
Color code is updated. Please check.

[2017-01-13 00:26] rikalively commented on #10
Colors look great!! Thank you!

For the survey widget, I didn't realize that the color of the bars were so similar to the background. Can we change the bars to that navy color?
<img width="707" alt="screen shot 2017-01-12 at 7 26 07 pm" src="https://cloud.githubusercontent.com/assets/23104131/21913826/fe2fb6b2-d8fc-11e6-810e-c9c069c68357.png">

<img width="733" alt="screen shot 2017-01-12 at 12 12

[2017-01-13 09:09] debajyotiGuha commented on #10
Color of the bars updated.

[2017-01-16 19:55] #40 closed, assigned to bikash02

[2017-01-17 17:49] camerontrimble opened #41 "We need to add a preset question type that is basic contact information - name, email"
See Survey Monkey for an example.

![screen shot 2017-01-17 at 12 48 53 pm](https://cloud.githubusercontent.com/assets/15096099/22032660/59abb5f4-dcb3-11e6-8823-62e08b11b027.png)

[2017-01-17 17:51] #36 closed, assigned to nobody

[2017-01-17 17:52] camerontrimble commented on #34
The Survey creator should be able to add uploads to each survey question. These would be resources relevant to that question that people could download.

[2017-01-17 17:53] #18 closed, assigned to debdiproy, bikash02, Designer-cleonix, debajyotiGuha

[2017-01-19 10:20] Designer-cleonix commented on #34
@bikash02 please take care of this.

[2017-01-19 10:21] Designer-cleonix commented on #41
@bikash02

[2017-01-23 07:59] debajyotiGuha commented on #41
Updated. Preset questions added.

[2017-01-23 23:43] rikalively opened #42 "Typos"
Inside the survey under Manage Survey, under Settings, about halfway down it says "Filiers Notes"

And inside the survey, under Manage Survey, under Monitors, in the box under "Add Survey Monitor" it says "Select Moniter" - Monitor is misspelled

[2017-01-23 23:44] rikalively opened #43 "User account issue"
A tester tried to set up an external user in the ladder, under Assessment Church Leader, with their other email address. They did not receive an email with the login info; tried to login but didn't work, and cannot reset the password because it says "Invalid Email ID."

[2017-01-24 08:47] bikash02 commented on #10
@rikalively anything else ?

[2017-01-24 09:48] debajyotiGuha commented on #42
Updated. Please check once.

[2017-01-24 10:26] bikash02 commented on #43
If the user didn't received the verification email,they can’t activate their account and in that case if they were trying to access the login and reset password page didn't allow to do this because of inactive account.

There are several options to fix the issue.
1. Organization admin can also activate the unapproved account.
2.Resent the email
3. SMS verification if the email failed to deliver.

[2017-01-24 16:22] rikalively commented on #10
We still need text for the landing page. I'll let you know when I have approved text from @camerontrimble

[2017-01-24 16:23] rikalively commented on #42
Thank you!

[2017-01-24 16:23] #42 closed, assigned to nobody

[2017-02-08 14:39] rikalively opened #44 "Tester cannot login to system"
She has tried on multiple computers and they all give a 404 message that says server not found. This has been happening for her for the past two days.

[2017-02-09 08:30] bikash02 commented on #44
Can you please pass her registered email ID or username so that we can test it from our end?

[2017-02-10 01:19] rikalively commented on #44
username: anica74
email: anna@progressiverenewal.org
password: riRYBaNL

[2017-02-10 09:19] bikash02 commented on #44
Its working.
http://cleonix.biz/faithtrends/login
![screenshot-cleonix biz 2017-02-10 14-48-40](https://cloud.githubusercontent.com/assets/16361011/22821209/1d1a6efa-efa0-11e6-94a7-3d13a0dcda94.png)

[2017-03-15 22:07] camerontrimble opened #45 "Track Trends under "Get Results" not working properly"
I am trying to test the survey on a weekly basis...when I add an email address, it sends me an email immediately rather than sending it on the schedule that I set in the design of the survey.

[2017-03-15 22:09] camerontrimble opened #46 "Data is not saving in the user profile section"
I added a phone number and it didn't stick after I saved it.

[2017-03-16 07:43] Designer-cleonix commented on #46
@debajyotiGuha Take care of it ASAP

[2017-03-16 09:27] debajyotiGuha commented on #46
Updated. Please check once.

[2017-03-16 12:16] bikash02 commented on #45
I have checked the module and this is definitely possible.But before we proceed we need some help or confirmation from you.
**The Scope already in the system:**
** Did you check the users section? Here you'll assign a survey to users and according to the frequency setting the email send to that users.
![users](https://cloud.githubusercontent.com/assets/16361011/23995388/6450f5ca-0a6f-11e7-921d-e64